<!-- 
  This form is creates user sign up page.
  Through user ActiveRecord, it validates the format of email address, 
  presence of name and confirms that user typed in matching (secure) passwords.
  Error msg is printed out through first if statement
 -->

<div class="page-header">
<h1>Sign Up!</h1>
</div>

<%= form_tag "/users" do %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= label_tag :name, "Name: " %>
    <%= text_field_tag :name %>
  </p><p>
    <%= label_tag :email, "Email: " %>
    <%= text_field_tag :email %>
  </p><p>
    <%= label_tag :password, "Password: " %>
    <%= password_field_tag :password %>
  </p><p>
   	<%= label_tag :password_confirmation, "Confirm Password: " %>
    <%= password_field_tag :password_confirmation %>
  </p><p>
    <%= submit_tag "Register" %>
  </p>
<% end %>
